*{
    margin: 0;
    font-family: sans-serif;

}

.header{
    flex: 1;
    padding: 20px 30px;
    background-color:blueviolet;

}

.header>.logo{
    color: aliceblue;
    text-shadow: 5px 4px 3px black;
}

.logo>h2{
    margin: 0;
}
.container{
    
    display: flex;
    justify-content: center;
    height: auto;
}
.form{
    flex: 1;
    background-color: rgb(8, 8, 8);
    padding: 15px ;
}
.table{
    flex: 3;
    background-color: rgb(19, 16, 16);
    padding: 1p5x ;
}
.form>form{
    
    flex: 1;
    

}
.mb-3{
    margin-bottom: 15px;
    flex-direction: column;
    display: flex;

}
.control{
    width: 100%;
    padding: 10px 5px;
}

label{
    font-size: 16px;
    font-weight: bold;
    color:white;
}
.btn{

    background-color: rgb(2, 27, 27);
    color: rgb(243, 243, 248);
    padding: 8px 8px;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 20px;
    padding: 8px 22px;
    height: auto;
}
.table>table{
    width: 100%;
    border-collapse: collapse;
    height: auto;
}
.table{
    height: 100% !important;
}
table,th,td{
  border: 1px solid white;  
    color: white;
    padding: 10px;
}